Django
djangorestframework
django-cors-headers
django-allauth
dj-rest-auth
djangorestframework-simplejwt
psycopg2-binary
dj-database-url
python-dotenv
Pillow
cloudinary
django-cloudinary-storage
reportlab
requests
numpy
pandas
scikit-learn
celery
redis
whitenoise
gunicorn
drf-yasg
django-ratelimit
cryptography
